/* Hide the admin cog, to make sure regular users never see it.
 * This may otherwise happen when project admin permissions are given, e.g. to project leads, etc.
 * An admin of Make a Diff can still access the admin pages with the 'gg' keyboard shortcut. */
#system-admin-menu {
    display: none;
}

/* Hide dashboard nav menu item */
#home_link {
    display: none;
}

/* Hide projects dropdown, we just want a link to a projects page */
#browse_link {
    display: none;
}

/* Hide Create Issue button  - issues will be created via links on the project page */
#create_link {
    display: none;
}

/* Hide issues nav menu item - at the moment we want to keep the focus on projects */
#find_link {
    display: none;
}

#system-help-menu {
    display: none;
}

/* Hide the GreenHopper menu, we'll expose it's functionality elsewhere */
#greenhopper_menu,
#greenhopper_menu_no_project {
    display: none;
}

/* Hide concept of issue filters */
#find_link-content .aui-dropdown2-section:nth-child(2),
#find_link-content .aui-dropdown2-section:nth-child(3) {
    display: none;
}

/* Hide concept of My JIRA Home */
#user-options-content .aui-dropdown2-section:nth-child(2) {
    display: none;
}

/* Hide footer links */
.footer-body {
    display: none;
}

/* Atlassian Foundation logo in footer */
#page #footer {
    background: none;
    margin: 0;
    padding: 16px 0 18px;
    text-align: center;
}

#footer .powered-by {
    color: #999;
    font-size: 12px;
    line-height: 30px;
    vertical-align: bottom;
    padding-right: 10px;
}

#footer .atlassian-foundation-logo {
    height: 30px;
    vertical-align: bottom;
}

#footer .copyright {
    color: #999;
    font-size: 10px;
    line-height: 20px;
    vertical-align: bottom;
    list-style-type: none;

}

/* Hide create project elements from projects menu */
#project_new {
  display: none;
}

/* Timezone warning - perhaps we can do this automatically? */
#timezoneDiffBanner {
    display: none;
}

/* Hide market place link in personal dropdown */
#upm-requests-link {
  display: none;
}

/* Hide original JIRA quick search */
#quicksearch {
  display: none;
}


.hidden-items {
    display: none;
}

#save-edit-skill{
    float: right;
}

#about-text{
    width: 50%;
}

/* Hide GreenHopper compact toggle, as we always want to be in compact mode */
#js-compact-toggle {
    display: none;
}

#logo.aui-header-logo {
    /* Add some space between the logo and the header links */
    margin-right: 20px;
}

#logo.aui-header-logo > a {
    padding: 0; /* padding makes this lop-sided with the left nav. Putting it on .aui-header*/
}

/* Header height */
header#header .aui-header {
    padding: 12px 20px;
}

.home-page .aui-page-header-inner,
.home-page .aui-page-panel-inner {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.aui-page-panel {
    padding: 20px;
}

.aui-theme-default h1 a,
.aui-theme-default h1 a:hover,
.aui-theme-default h2 a,
.aui-theme-default h2 a:hover {
    color: #59544e;
}

.about-video-container {
    text-align: center;
}

.about-video-caption,
.about-video-caption a {
    text-align: center;
    color: #999;
    font-style: italic;
}

/* Prevent users from being able to choose a pre-canned system avatar */
#user-avatar-picker .jira-avatar.jira-system-avatar {
    display: none;
}