#page #content {
    padding-left: 0;
    padding-right: 0;
}

.aui-page-header {
    background: url('makeadiff-banner.png') no-repeat center;
    background-size: 735px;
    height: 300px;
}

.aui-page-header h1 {
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    padding-top: 40px;
    color: #fff;
}

.aui-page-header h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 40px;
    color: #fff;
}

.aui-theme-default .aui-page-panel {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left-width: 0;
    border-right-width: 0;
}

.aui-page-panel-inner {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.skill-list{
    width: 500px;
    margin-bottom: 10px;
}
.skill-list ul{
    padding-left: 0;
    float:left;
    margin:0 0 0 0;
}
.skill-list ul li{
    list-style: none;
    float: left;
    padding-bottom: 5px ;
}
.aui-label{
    margin-right: 5px !important; 
}
.skill-content{
    margin-bottom: 20px;
}

.project-section {
    margin-bottom: 20px;
}
.project-section + .project-section {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.project-grid {
    -moz-column-count: 3;
    -moz-column-gap: 0px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    column-gap: 0px;
    width: 990px;
    margin-top: 10px;
}
.grid-item {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: inline-block;
}
.card {
    width: 300px;
    border: 1px solid #eaecf2;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1),0 2px 2px 0 rgba(0,0,0,0.04);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: box-shadow ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
    -moz-transition: box-shadow ease-in-out 300ms, -moz-transform ease-in-out 300ms;
    -o-transition: box-shadow ease-in-out 300ms, -o-transform ease-in-out 300ms;
    transition: box-shadow ease-in-out 300ms, transform ease-in-out 300ms;
}
.card-hero {
    display: block;
    outline: 1px solid #eaecf2;
}
.card-hero>.label {
    background-color: rgba(255,255,255,0.5);
    color: white;
    font-size: 12px;
    font-weight: normal;
    margin: 12px;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
    border: none;
    font-weight: bold;
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    padding: 3px;
    line-height: 1.2;
    border-radius: 2px;
}
.card-hero>.label>.jira-user-avatar {
    padding: 0px;
}
.card-hero>img {
    display: block;
    width: 302px;
    height: auto;
    border: 0;
}
.card-content {
    padding: 10px 30px 10px 30px;
    color: #2b2f3e;
    /*font-family: "TiemposTextWeb", Georgia, Cambria, "Times New Roman", Times, serif;*/
    font-size: 22px;
    line-height: 1.6;
}
.card-title {
    /*color: #3b7fcc;*/
    color: #59544e;
    font-size: 14px;
    /*font-family: "Solitaire", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: bold;
    /*margin-bottom: 6px;*/
}
.card-details {
    border-top: 1px solid #f3f4f8;
    width: 300px;
    border-radius: 3px;
}
.card-details>.card-details-progress {
    border-bottom: 1px dotted #eaecf2;
    color: #aaafbf;
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 0 6px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5pt;
}
.card-details-progress .aui-progress-tracker {
    font-size: 8px;
    margin: 0 auto;
}
.card-details>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card-details-info:first-child {
    border-left: transparent;
}
.card-details-info {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-backface-visibility: hidden;
    border-left: 1px dotted #eaecf2;
    width: 33%;
    float: left;
    text-align: center;
    font-size: 8px;
}
.card-details-info-text {
    text-transform:uppercase;
    font-weight: bold;
    color: #aaafbf;
    display: block;
    padding-top: 8px;
}

