html, body, #page{
    height: 100%;
}

#page {
    /*background: url('Tea-Picker-by-Ara-Arzoumani.jpg') no-repeat left -100px; /* MD-45 */
}

img#login-background-picture{
    width: 100%;
}

.aui-page-panel {
    background-color: transparent;
    border: 0 none;
    padding: 0px !important;
    margin: 0px !important;
}

.aui-page-panel-inner {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 400px;
    top: 100px;
    right: 100px;
    color: white;
}

.aui-page-panel-inner h1 {
    color: white;
}

.aui-page-panel-inner form.aui label{
    color: white;
}

.aui-header {
    background-color: rgba(255, 255, 255, 0.75);
}

.brighter-link{
    color: white !important;
    text-decoration: underline !important;
}

#image-credits{
    position:fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f5f5f5;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#image-credits h2 {
    color: rgba(0,0,0,0.75);
    font-size: 18px;
}

#foundation-log-in a {
    color: #fff;
}

#foundation-log-in .error {
    margin-bottom: 10px;
    padding: 10px;
}