.projects-list{
    width: 100%;
    max-width: 990px;
    background: #fff;
    padding-top: 10px;
    -moz-column-count:3;
    -moz-column-gap: 10px;
    -moz-column-width: 310px;
    -webkit-column-count:3;
    -webkit-column-gap: 10px;
    -webkit-column-width: 310px;
    column-count: 3;
    column-gap: 10px;
    column-width: 310px;
}
.projects-list-item{
    padding-bottom: 10px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
}
.project-card-wrap{
    border-radius: 9px;
    background: rgba(11,25,2,0.06);
    padding: 4px;
    clear: both;
}
.project-card{
    padding: 5px;
    overflow: hidden;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #13a0ff;
    position: relative;
}
.project-thumbnail{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.project-image-small{
    border: none;
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
}
.project-title{
    font-size: 20px;
    line-height: 20px;
    padding: 0 5px 7px;
    margin: 0px;
}
.project-title>a{
    text-decoration: none;
    color: #0b1902;
    display: block;
}
.project-finished{
    background: #13a0ff;
    color: white;
    text-align: center;
    margin: 5px -5px;
    padding: 0px;
    border: 0;
    overflow: hidden;
    font-size: 20px;
    text-transform: uppercase;
}
.project-finished strong{
    display: block;
    font-weight: bold;
}
.project-meta{
    margin: 0px 0px 0px 2px;
    padding: 5px 0px 0px 0px;
    border: 0;
    overflow: hidden;
    font-size: 10px;
    text-transform: uppercase;
    color: #0b1902;
    border-top: 1px solid #d0d5cb;
}
.project-meta li{
    width: 25% !important;
    border: 0;
    line-height: 17px;
    color: #75796f;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    text-align: center;
}
.project-meta strong{
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding-top: 2px;
    display: block;
    font-weight: bold;
}
.project-meta-creator .jira-user-avatar{
    padding-left: 0px;
    position: static;
}
.project-meta-todo,
.project-meta-inprogress,
.project-meta-done{
    padding-top: 4px;
}
.project-meta-todo strong{
    color: red;
}
.project-meta-inprogress strong{
    color: orange;
}
.project-meta-done strong{
    color: green;
}