img.teaser {
}

.blank-image {
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.project-banner-image {
    width: 100%;
}

#project-tabs .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item:first-child {
    margin-left: 0;
}

#project-tabs .aui-tabs.aui-tabs-disabled>.tabs-menu>.menu-item>a {
    cursor: pointer;
}

#description .content {
    white-space: pre-line;
}

.makeadiff-contributors
{
    list-style-type: none;
    padding-left: 20px;
}

.makeadiff-contributor-avatar
{
    float: left;
    padding-right: 5px;
}

.makeadiff-contributor
{
    padding-bottom: 5px;
}

table.makeadiff-contributors-table > tbody > tr >td {
    vertical-align: middle;
}

table.aui.makeadiff-contributors-table {
    margin-bottom: 50px;
}

/* Hide Wiki Details tab for now */
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item[data-name='details'] {
    display: none;
}




.aui-page-panel-inner {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.aui-page-panel-item.main{
    width: 70%;
    padding-right: 5px;
}
.aui-page-panel-item.side{
    width: 30%;
    padding-left: 5px;
}
.project-description{
    white-space: pre-line;
}
.panel-group {
    border: 1px solid #dde1ed;
    border-radius: 3px;
}
.panel+.panel-group, .panel-group+.panel, .panel-group+.panel-group {
    margin-top: 15px;
}
.panel {
    border: 1px solid #dde1ed;
    font-size: 14px;
    padding: 15px 30px;
    position: relative;
    border-radius: 3px;
    margin: 0px;
    font-size: 14px;
}
.panel-group>.panel:first-child {
    border-top: none;
}
.panel-group>.panel {
    border: none;
    margin-top: 0;
    border-radius: 0;
    border-top: 1px solid #eaecf2;
}
.panel-title {
    color: #959bae;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.5pt;
    line-height: 1.6;
    text-transform: uppercase;
}
.panel p:last-child {
    margin-bottom: 0;
}
.avatar-grid .empty-space{
    margin-left: 32px;
}
.change-status{
    text-align: center;
}
.table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}
.table thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}
.table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.table>caption+thead>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>th, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
}
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td {
    padding-top: 4px;
    padding-bottom: 4px;
    border-top: 1px solid #eaecf2;
}
.table td, .table th {
    display: table-cell;
    vertical-align: inherit;
}
.avatar-grid .jira-user-avatar{
    padding-left:0px;
    padding-right: 10px;
}
.list-group {
    list-style-type: none;
    padding: 0;
    background: rgba(149,155,174,0.05);
    border: 1px solid rgba(149,155,174,0.2);
    border-radius: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}
.list-group-links {
    background: rgba(59,127,204,0.05);
    border-color: rgba(59,127,204,0.2);
}
.list-group .list-group-item {
    padding-left: 12px;
    padding-right: 12px;
}
.list-group-item {
    line-height: 2;
    font-weight: bold;
}
.list-group-item a {
    display: block;
    margin: 0 -12px;
    padding-left: 12px;
    padding-right: 12px;
    text-decoration: none;
}
@font-face{
    font-family:"Atlassian Icons";
    src:url(atlassian-icons.eot);
    src:url(atlassian-icons.eot?#iefix) format("embedded-opentype"),url(atlassian-icons.woff) format("woff"),url(atlassian-icons.ttf) format("truetype"),url(atlassian-icons.svg#atlassian-icons) format("svg");
    font-weight:400;
    font-style:normal
}
.aui-icon-small:before {
    font-size: 16px;
    margin-top: -8px;
}
.aui-icon-small:before, .aui-icon-large:before {
    color: inherit;
    font-family: "Atlassian Icons";
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    left: 0;
    line-height: 1;
    position: absolute;
    text-indent: 0;
    speak: none;
    top: 50%;
}
.aui-iconfont-flag:before {
    content: "\e025";
}
.aui-iconfont-link:before {
    content: "\e02c";
}
.aui-iconfont-devtools-repository:before {
     content: "\ec05";
}
.aui-page-header-inner{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.aui-navgroup-inner{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}
.aui-progress-tracker-step{
    min-width: 86px !important;
}