#* @vtlvariable name="action" type="com.atlassian.makeadiff.action.BrowseAllFoundationProjects" *#
<html>
<head>
    <title>$action.getText("makeadiff.projects.title")</title>
</head>
<body>
    <header>
        <h1>$action.getText("makeadiff.projects.title")</h1>
    </header>
    <div class="content-container">
        <div class="content-related">
            <ul>
            <table>
            #foreach ($project in $action.allProjects)
                <tr>
                    <td>
                    <h1><a href="$req.contextPath/browse/$project.key">$project.name</a></h1>
                    </td>
                    <td>
                    <i>    $project.leadUserName</i>
                    </td>
                    <td>
                        #set($labelPairs = $action.getAllLabelsInProject($project))
                        #foreach ($label in $labelPairs.entrySet())
                            <b><a href="$req.contextPath/view/skills?searchSkills=$urlcodec.encode($label.key)">$label.key</a></b> [$label.value]
                        #end
                    </td>
                </tr>
            #end

            </table>
            </ul>
        </div>
    </div>
</body>
</html>