#* @vtlvariable name="action" type="com.atlassian.makeadiff.action.CreateFoundationProject" *#
#* @vtlvariable name="req" type="javax.servlet.http.HttpServletRequest" *#
<html>
<head>
    <title>$action.getText('makeadiff.project.edit.title')</title>
</head>

<body>
<header>
    <h1>${action.getText("makeadiff.project.edit.title")}</h1>
</header>
<div class="content-container">
    <div class="content-body aui-panel">
        <div class="aui-message warning">
            <span class="aui-icon icon-warning"></span>
            <p>${action.getText('makeadiff.project.edit.not.exist')}</p>
        </div>
    </div>
</div>
</body>
</html>