#* @vtlvariable name="action" type="com.atlassian.makeadiff.action.UserProfileAction" *#
<section class="aui-page-panel-content" id="description">
    <div class="content">
        <!-- ADD COMPLETED PROJECTS HERE -->
    </div>
</section>